<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary - Log In</title>
    <link rel="stylesheet" href="static/stylesLogin.css">
</head>
<body>
    <div class="container">
        <form class="login-form" action="form-example" method="post">
            <h1>Welcome Back to Diary</h1>
            <input type="email" name='email' placeholder="Email " required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Log In</button>
            <p>New user? <a href="signup">Sign Up</a></p>
            <a href="home">Home page </a>
            
        </form>
    </div>
</body>
</html>
