<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>life - Sign Up</title>
    <link rel="stylesheet" href="static/styles_sign_up.css">
</head>
<body>
    <div class="container">
        <form class="signup-form" action="form-example" method="post">
            <h1>Sign Up for life</h1>
            <input type="text" name='name' placeholder="Username" required>
            <input type="email" name='email' placeholder="Email" required>
            <input type="password" name='password' placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="login">Log In</a></p>
        </form>
    </div>
</body>
</html>
