<html>
<head>
    <title>Choose image</title>
    <script>
    function uploadFile()
    {
    var form = document.forms["uploadForm"]; form.submit();
    }
    function showLoading() {
            document.getElementById("loading").style.display = "block";
        }
</script>
</head>
<body>
<form action="upload" method="POST" enctype="multipart/form-data" name="uploadForm">
    <p>Choose image to upload:</p>
    <input type="file" name="file" accept="image/*" onchange="uploadFile()" onchange="showLoading">
     </form>
<div id="loading" style="display: none;">
    <p>Loading...</p>
    <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading">
</div>
</body>
</html>